.navbar {
    contain: content;
    display: flex;
    height: 40px; /* Adjusted height for better visibility */
    justify-content: flex-end; /* Align elements to the right */
    background-color: black; /* Dark background color */
    padding: 20px 10px; /* Add some padding */
    position: fixed; /* Fix the navbar at the top */
    top: 0; /* Ensure it stays at the top */
    left: 0; /* Stretch to the full width of the page */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure it appears above other elements */
    
}
.nav-button {
    text-decoration: none; /* Remove underline */
    color: white; /* White text */
    padding: 10px 10px; /* Padding around the text */
    margin: 5 10px; /* Space between buttons */
    background-color: transparent; /* Transparent background */
    border: 2px solid transparent; /* Border for hover effect */
    border-radius: 0px; /* Rounded corners */
    transition: all 0.3s ease; /* Smooth hover transition */
}

.nav-button:hover {
    border-color: red; /* Add border on hover */
}
